@keyframes waves {
  0% {
    top: 50%;
    width: 10px;
    height: 10px;
  }

  30% {
    top: 50%;
  }

  45% {
    top: 100%;
  }
  
  55% {
    top: 0;
  }

  70% {
    top: 50%;
  }

  100% {
    top: 50%;
    width: 10px;
    height: 10px;
  }
}

#dashboard {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;

  &.visible {
    transform: translateY(0px);
    opacity: 1;
  }

  header {
    padding: 50px 30px 25px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: rgb(69, 81, 84);

    h1 {
      font-size: 36px;
      font-weight: 700;
    }

    i {
      font-size: 36px;
    }
  }

  .pills {
    width: 100%;
    padding: 30px 0;
    background-color: rgb(65, 150, 181);

    h1 {
      font-size: 28px;
      color: #fff;
      padding: 0 30px;

      &.time {
        margin: 30px 0;
        font-size: 36px;
      }
    }

    .pill-view {
      overflow-x: scroll;
      display: flex;
      &::-webkit-scrollbar {
        display: none;
      }

      .pill-view-item {
        flex-shrink: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        width: 135px;

        h1 {
          font-size: 24px;
          font-weight: 700;
          margin: 15px 0 5px;
        }

        h3 {
          font-size: 16px;
          color: rgb(69, 81, 84);
        }
      }
    }
  }

  .divider {
    margin: 40px 0;
    padding: 0 30px;
    font-weight: 700;
    font-size: 28px;
    color: rgb(69, 81, 84);
  }

  .notifications {
    width: 100%;
    background-color: rgb(52, 0, 110);
    padding: 25px 20px 20px;
    box-sizing: border-box;

    .notification-item {
      display: flex;
      flex-direction: row;
      p {
        margin-left: 30px;
        flex-shrink: 1;
        font-size: 22px;
        font-weight: 700;
        color: #FFFFFF;
      }
    }

  }

  .realtime {
    margin-top: 30px;
    background-color: rgb(180, 31, 133);
    padding: 30px;
    font-weight: 700;
    color: #FFFFFF;
    h3 {
      font-size: 28px;
    }
    h1 {
      margin-top: 20px;
      align-self: flex-end;
      font-size: 70px;
      span {
        font-size: 24px;
      }
    }

    section {
      display: flex;
      justify-content: space-between;
      .pulse {
        display: flex;
        position: relative;
        margin: 25px 0;
        div {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          margin-left: 3px;  
          animation: waves 1s ease-in-out infinite;
          animation-direction: alternate;

          &.pulse1 {
            left: 0px;
             animation-delay: .1s;
             background-color: rgba(255, 255, 255, 0.1);
          }
          &.pulse2 {
            left: 15px;
            animation-delay: .2s;
            background-color: rgba(255, 255, 255, 0.2);
          }
          &.pulse3 {
            left: 30px;
            animation-delay: .3s;
            background-color: rgba(255, 255, 255, 0.3);
          }
          &.pulse4 {
            left: 45px;
            animation-delay: .4s;
            background-color: rgba(255, 255, 255, 0.4);
          }
          &.pulse5 {
            left: 60px;
            animation-delay: .5s;
            background-color: rgba(255, 255, 255, 0.5);
          }
          &.pulse6 {
            left: 75px;
            animation-delay: .6s;
            background-color: rgba(255, 255, 255, 0.6);
          }
          &.pulse7 {
            left: 90px;
            animation-delay: .7s;
            background-color: rgba(255, 255, 255, 0.7);
          }
          &.pulse8 {
            left: 105px;
            animation-delay: .8s;
            background-color: rgba(255, 255, 255, 0.8);
          }
          &.pulse9 {
            left: 120px;
            animation-delay: .9s;
            background-color: rgba(255, 255, 255, 0.9);
          }
          &.pulse10 {
            left: 135px;
            animation-delay: 1s;
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }

  .key-metrics {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    .stat-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 10px 10px;
      border-radius: 5px;
      font-size: 22px;
      font-weight: 700;
      color: #FFF;
      .title {
        flex-grow: 1;
      }
      .number {
        font-size: 36px;
      }
      .unit {
        margin-left: 8px;
        width: 69px;
      }

      &:nth-child(2n + 1) {
        background-color: rgba(244, 246, 246, 0.3);
      }
    }
  }
}